<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="card ">
    <div class="card-header" style="background-color: #ADD8E6">
        <h5>Return Book!</h5>
    </div>

    <div class="card-body">
        <div class="form-group row">
            <label class="col-md-2 col-form-label">Stud_ID</label>
            <div class="col-md-4">
                <input type="text" class="form-control" id="studid" name="studid" th:value="${s.id}" placeholder="Enter Student ID" th:onchange="viewBookByStudName();" required/>
            </div>

            <div class="col-md-6">
                <input type="text" class="form-control" name="studname" th:value="${s.name}" placeholder="Student Name" readonly/>
            </div>

        </div>

        <table class="table table-bordered table-striped table-hover">
            <thead bgcolor=#ADD8E6>
            <tr>
                <th style="width:10%">Id</th>
                <th style="width:25%">Name</th>
                <th style="width:25%">Author</th>
                <th style="width:20%">Due Date</th>
                <th style="width:10%">Returned</th>
            </tr>
            </thead>
            <tbody th:if="${not #lists.isEmpty(bookList)}">
            <!--<c:forEach items="${studList}" var="s">-->
                <tr th:each="lib : ${bookList}">
                    <td th:text="${lib.bookid}"></td>
                    <td th:text="${lib.bookname}"></td>
                    <td th:text="${lib.author}"></td>
                    <td th:text="${lib.duedate}"></td>
                    <td><a th:href="@{bookReturned(id=${lib.id}, studid=${s.id})}">Returned</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
<script>
    function viewBookByStudName() {
        var id = document.getElementById("studid").value;
        window.location='viewBookByStudName?studid='+id;
    }
</script>