<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="card ">
    <div class="card-header" style="background-color: #ADD8E6">
        <h5>View Staff!</h5>
    </div>

    <div class="card-body">

        <table class="table table-bordered table-striped table-hover">
            <thead bgcolor=#ADD8E6>
            <tr>
                <th style="width:10%">Id</th>
                <th style="width:25%">Name</th>
                <th style="width:25%">Mobile</th>
                <th style="width:10%">Edit</th>
                <th style="width:10%">Delete</th>
            </tr>
            </thead>
            <tbody th:if="${not #lists.isEmpty(users)}">
            <!--<c:forEach items="${studList}" var="s">-->
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.mob}"></td>
                    <td><a th:href="@{editUser(id=${user.id})}">Edit</a></td>
                    <td><a  th:href="@{deleteUser(id=${user.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>